{% if form.errors %}
<p style="text-align: center;">Username or password incorrect. Or you are not authorized to reach that url? Either way, please go back and try again.
</p>
<h3 style="text-align: center; padding-bottom: 1000px; color: blue;"><a href="{% url 'home' %}">Back to home</a></h3>

{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %} {{ login_form.as_p }}
    <input type="submit" class="btn" style="background-color: #e7c4b1; border-radius: 30px;" value="Log In" />
    <input type="hidden" name="text" value="{{ next }}" />

</form>