{% extends 'base.html'%} {% block content %}

<h1>About</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container-md">
                <h3>Name</h3>
                <img src="#" alt="#" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
            </div>
        </div>
        <div class="col">
            <div class="container-md">
                <h3>Name</h3>
                <img src="#" alt="#" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
            </div>
        </div>
        <div class="col">
            <div class="container-md">
                <h3>Name</h3>
                <img src="#" alt="#" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
            </div>
        </div>
      </div>

{% endblock %}