{% extends 'base.html'%} {% block content %}

<h1 class="m-5 mt-3">About</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">Arnav Singh</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="/static/arnav.png/" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p>Arnav is an economics student who fell in love with building web applications over the summer. He is now a fullstack developer utilizing the MERN stack and API systems to create responsive and beautiful websites. In his spare time, Arnav loves to tryout different frameworks and technologies to create different apps and interfaces.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">John D. Watt</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="/static/jd.png/" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p>John D. Watt (J.D.) is a software engineer specializing in back-end web development. Coming from a background in research lab management, he is a detail-oriented problem-solver obsessed with honing his craft. In addition to his ever-improving tech skills, he brings his friendly demeanor, open communication, and collaborative mindset to any team.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">Jenna Waffensmith</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="/static/jenna.png/" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p> Jenna is a software engineer and former special education teacher with skills in full-stack development. Jenna is passionate about problem solving, collaborating and learning. She seeks opportunities to develop innovative software that makes a meaningful impact on people’s lives.</p>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
