{% extends 'base.html'%} {% block content %}

<h1 class="m-5 mt-3">About</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">Name</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="https://images.unsplash.com/photo-1443926818681-717d074a57af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">Name</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="https://images.unsplash.com/photo-1443926818681-717d074a57af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="container-md mb-3">
                <h3 class="mx-3">Name</h3>
                <div class="d-flex justify-content-center">
                    <img class="mx-3 rounded" src="https://images.unsplash.com/photo-1443926818681-717d074a57af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="#" style="max-width: 200px; max-height: 200px;"/>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nesciunt assumenda ducimus architecto eaque modi porro odio recusandae fugit. Nesciunt adipisci repudiandae delectus impedit. Ab corporis natus inventore doloremque repellendus!</p>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}
