{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Project Wayfarer</title>
</head>

<body>
  <!-- header -->
  <!-- navbar -->

  <nav class="navbar">
    <div class="container-fluid">

      <div class="navbar-header">

        <div><img src="../static/styles/logo.svg" alt="" width="60" height="60"
            class="d-inline-block align-text-top logo"></div>
      </div>

      <a class="navbar-brand" href="#">
        <div class="title">Wayfarer</div>
      </a>




      <!-- flex me -->
      {% if user.is_authenticated %}

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="select" href="{% url 'profile' %}">{{user.username}} </a> </li>
        <li><a class="select" href="{% url 'logout' %}"> Logout </a></li>
      </ul>

      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="select" href="#" data-bs-toggle="modal" data-bs-target="#login-modal"><span
              class="glyphicon glyphicon-user">Login</span></a></li>
        <li><a class="select" href="#" data-bs-toggle="modal" data-bs-target="#signup-modal">Sign Up</a></li>
      </ul>

      {% endif %}
    </div>
  </nav>


  {% block content %} {% endblock %}

  <!-- popups -->

  <!-- Login Modal -->

  <nav class="select">
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include "registration/login.html" %}
          </div>
        </div>
      </div>
    </div>

    <!-- Signup Modal -->
    <div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include "registration/signup.html" %}
          </div>
        </div>
      </div>
    </div>
  </nav>



</body>

</html>