{% extends 'base.html'%} {% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/post.css' %}" />
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4 pr-0" >
                <h1>{{city.name}}</h1>
                <h3>{{city.country}}</h3>
            </div>
            <div class="col-4">
                <img src="https://images.unsplash.com/photo-1624236028842-88acfd4e5287?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1411&q=80" class="card-img-top rounded" alt="{{city.name}}">
            </div>
        </div>
    </div>
</section>

<h2>Posts</h2><button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#post-create-modal">New Post</button>
{% for post in city.posts.all %}
<main class="post-page m-3">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                    <div class="col-sm-4 d-flex"  style="align-items: center;">
                        <img src="{{post.user.profile.image}}" class="img-fluid my-3 mx-4 rounded" style="max-height: 200px; max-width: 200px;" alt="{{user.username}}">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.user}}</p>
                            <p class="card-text">{{post.content}}</p>
                            <p class="card-text"><small class="text-muted">{{post.created_at}}</small></p>
                        </div>
                    </div>
                    <div class="col-sm-8 m-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Action
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Edit</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endfor %}

<div class="modal fade" id="post-create-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'post_new' city.pk %}">
                {% csrf_token %} 
                {{ post_create_form.as_p }}
                <input type="submit" class="btn" style="background-color: #e7c4b1; border-radius: 30px;" value="Create Post"/>
                <input type="hidden" name="text" value="{{ next }}"/>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}