
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log In</h5>  
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %} {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Log In"/>
                    <input type="hidden" name="text" value="{{ next }}"/>
                </form>
        </div>
    </div>